<template>
	<div class="form">
		<p class="title">Добавить анкету</p>
		<div>
			<p class="separation_title">Основные поля</p>
			<div class="separation_first">
				<inputText :title="'Фамилия'" v-model:value="this.surname"/>
				<inputText :title="'Имя'" v-model:value="this.name"/>
				<inputText :title="'Отчество'" v-model:value="this.patronymic"/>
				<inputDate :title="'День рождение'" v-model:value="this.birthday"/>
				<dropdown :title="'Город'" :options="cityOption" ref="city"/>
				<inputText :title="'Телефон'" :hint="'Например: +79999999999'" v-model:value="this.phone"/>
			</div>
			<p class="separation_title">Дополнительные поля</p>
			<div class="separation_second">
				<dropdown :title="'Город'" :options="sexOption" ref="sex"/>
				<dropdown :title="'Город'" :options="groupOption" ref="group"/>
				<inputText :title="'Email'" :hint="'Например: example@gmail.com'" v-model:value="this.email"/>
				<inputText :title="'Паспортные данные'" :hint="'Например: (серия, номер, кем выдан, когда)'" v-model:value="this.passport"/>
				<inputText :title="'СНИЛС'" :hint="'Например: 00000000000'" v-model:value="this.snils"/>
				<inputText :title="'Мед.полис'" :hint="'Например: 0000000000000000'" v-model:value="this.medpolicy"/>
			</div>
			<buttomSend :text="'ОТПРАВИТЬ'"/>
		</div>
	</div>
</template>

<script>
/* eslint-disable */
import dropdown from '@/components/DEFAULT_COMPONENTS/dropdown.vue'
import inputText from '@/components/DEFAULT_COMPONENTS/input.vue'
import inputDate from '@/components/DEFAULT_COMPONENTS/inputDate.vue'
import buttomSend from '@/components/DEFAULT_COMPONENTS/button.vue'
export default {
	name: 'forms',
	components: { inputText, inputDate, buttomSend, dropdown },
	data() {
		return {
			city_selected: [],
			cityOption: [
				{
					id: 1,
					city: "Екатеринбург",
				},
				{
					id: 2,
					city: "Санкт-Петербург",
				},
				{
					id: 3,
					city: "Москва",
				},
				{
					id: 3,
					city: "Москва 2",
				},
				{
					id: 3,
					city: "Москва 3",
				},
			],
			sexOption: [
				{
					id: 1,
					city: "Мужчина",
				},
				{
					id: 2,
					city: "Женщина",
				},
			],
			groupOption: [
				{
					id: 1,
					city: "ИП-911к",
				},
				{
					id: 2,
					city: "ИП-91",
				},
				{
					id: 3,
					city: "М-21",
				},
				{
					id: 4,
					city: "М21к",
				},
				{
					id: 5,
					city: "Э-21",
				},
				{
					id: 6,
					city: "Э-21к",
				},
			],
			surname: null,
			name: null,
			patronymic: null,
			birthday: null,
			city: null,
			phone: null,
			sex: null,
			group: null,
			email: null,
			passport: null,
			snils: null,
			medpolicy: null,
		}
	}
}
</script>

<style scoped>
@font-face {
	font-family: 'Gilroy Regular';
	src: url('../../../src/assets/fonts/gilroy-regular.ttf');
}

@font-face {
	font-family: 'Gilroy Medium';
	src: url('../../../src/assets/fonts/gilroy-medium.ttf');
}
.form {
	position: absolute;
	margin-top: 2vh;
	margin-left: 2vh;
	background-color: #ffffff;
	width: 98vw;
	height: 96vh;
	border-radius: 1.6vh;
}
.title {
	margin-top: 2vh;
	text-align: center;
	font-family: 'Gilroy Medium';
	font-size: 3vh;
}
.separation_title {
	margin-top: 11vh;
	text-align: center;
	font-family: 'Gilroy Medium';
	font-size: 2.2vh;
}
.separation_first {
	margin-top: 1vh;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
}
.separation_second {
	margin-top: 1vh;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
}
</style>