<template>
	<input type="submit" :value="text"/>
</template>

<script>
export default {
	// eslint-disable-next-line
	name: 'button',
	props: {
		text: { type: String, default: 'text', required: true },
	},
}
</script>

<style scoped>
@font-face {
	font-family: 'Gilroy Medium';
	src: url('../../../src/assets/fonts/gilroy-medium.ttf');
}
input {
	margin-top: 8vh;
	margin-left: 44vw;
	padding: 1vh;
	font-family: 'Gilroy Medium';
	letter-spacing: 0.15vh;
	background-color: #10946A;
	width: 10vw;
	border-radius: 1.6vh;
	border: 0.4vh solid #10946a;
	cursor: pointer;
	color: #ffffff;
}
input:active {
	background-color: #228062;
}
</style>
