<template>
	<div>
		<p class="title">{{ title }}</p>

		<!--  -->

		<i class="dropdown_close_icon" :class="{ dropdown_open_icon : open }"></i>
		<div class="custom-select" :class="{ open : open }" @click="openDropdown()" @input="$emit('update:value', $event.target.value)">
			{{ select ? select.city : "" }}
		</div>

<!--  -->
		<div class="dropdown" :class="{ dropdownOpen : open }">
			<div v-for="(option, i) of options" v-bind:key="i" 
			class="city"
			@click="
			open = false,
			select = option,
			$emit('input', option)">
			{{ option.city }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	// eslint-disable-next-line
	name: 'dropdown',
	props: {
		title: 		{ type: String, required: true },
		options: 	{ type: Object, required: true },
	},
	data() {
		return {
			select: null,
			open: false,
		}
	},
	methods: {
		openDropdown: function() {
			if (this.open == false) {
				return this.open = true
			}
			else {
				return this.open = false
			}
		}
	}
}
</script>

<style scoped>
@font-face {
	font-family: 'Gilroy Regular';
	src: url('../../../src/assets/fonts/gilroy-regular.ttf');
}
.title {
	font-size: 1.7vh;
	margin: 1vh 1vw;
}
.custom-select {
	position: absolute;
	margin-left: 4.825vw;
	font-family: 'Gilroy Regular';
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1.7vh;
	text-align: center;
	width: 22vw;
	height: 2vh;
	border: 0.1vh solid #10946A;
	padding: 1vh;
	border-radius: 1.6vh;
	color: #000000;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.open{
	position: absolute;
	margin-left: 4.825vw;
	font-family: 'Gilroy Regular';
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1.7vh;
	text-align: center;
	width: 22vw;
	height: 2vh;
	border: 0.1vh solid #10946A;
	padding: 1vh;
	border-radius: 1.6vh 1.6vh 0vh 0vh;
	color: #000000;
}
.dropdown_close_icon {
	margin-top: 1.8vh;
	margin-left: 10vw;
	position: absolute;
	width: 1.5vw;
	height: 1.5vh;
	background: url('@/assets/images/dropdown_close.svg') no-repeat;
	background-size: 1.5vh;
	transition: all 0.25s ease-in-out;
}
.dropdown_open_icon {
	position: absolute;
	margin-left: 10vw;
	margin-top: 1.2vh;
	transform: rotateX(180deg);
}
.dropdown {
	margin-left: 4.825vw;
	margin-top: 2.05vw;
	position: absolute;
	opacity: 0;
	background-color: #ffffff;
	border-left: 0.1vh solid #10946A;
	border-right: 0.1vh solid #10946A;
	border-bottom: 0.1vh solid #10946A;
	width: 22.95vw;
	max-height: 20vh;
	z-index: -99;
	transition: all 0.1s ease-in-out;
	overflow-y: auto;
}
.dropdown::-webkit-scrollbar {
	width: 0.3vw;
}
.dropdownOpen {
	opacity: 1;
	z-index: 0;
}
.city {
	margin-top: -0.1vh;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	text-align: center;
	cursor: pointer;
	border-top: 0.1vh solid #10946A;
}
</style>
