<template>
	<div>
		<p class="title">{{ title }}</p>
		<input type="date" :placeholder="placeholder" :disabled="disabled" @input="$emit('update:value', $event.target.value)">
		<p class="hint">{{ hint }}</p>
	</div>
</template>

<script>
export default {
	// eslint-disable-next-line
	name: 'inputDate',
	props: {
		title: { type: String, required: true },
		hint: { type: String, required: true },
		disabled: { type: Boolean, default: false, required: true },
	},
}
</script>

<style scoped>
@font-face {
	font-family: 'Gilroy Regular';
	src: url('../../../src/assets/fonts/gilroy-regular.ttf');
}
.title {
	font-size: 1.7vh;
	margin: 1vh 1vw;
}
input {
	margin: 0vh 1vw;
	font-family: 'Gilroy Regular';
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1.7vh;
	text-align: center;
	width: 22vw;
	border: 0.1vh solid #10946A;
	padding: 1vh;
	border-radius: 1.6vh;
	color: #000000;
}
.hint {
	font-size: 1.4vh;
	margin: 1vh 1vw;
}
</style>
