<template>
	<div class="main">
		<p class="title">Анкета студента отделения АиЭМ 2022</p>
		<questionnaireRow v-for="(post, index) of this.post" v-bind:key="index" :post="post"/>
	</div>
</template>

<script>
/* eslint-disable */
import questionnaireRow from '@/components/Questionnaire/questionnaireRow.vue'
export default {
	name: 'questionnaires',
	components: { questionnaireRow },
	data() {
		return {
			post: [],
		}
	},
	async mounted() {
		await this.getQuestionnaire()
	},
	methods: {
		getQuestionnaire() {
			fetch('https://jsonplaceholder.typicode.com/posts', {
				method: 'GET',
				// headers: {
				// 	'Content-Type': 'content/type',
				// },
				// body: JSON.stringify({
				// }) 
			})
			.then(function(response) {
				return response.json()
			})
			.then(data => this.post = data)
		}
	}
}
</script>

<style scoped>
@font-face {
	font-family: 'Gilroy Regular';
	src: url('../../../src/assets/fonts/gilroy-regular.ttf');
}

@font-face {
	font-family: 'Gilroy Medium';
	src: url('../../../src/assets/fonts/gilroy-medium.ttf');
}
.main {
	position: absolute;
	margin: 2vh;
	background-color: #ffffff;
	width: 98vw;
	min-height: 96vh;
	border-radius: 1.6vh;
}
.title{
	margin-top: 2vh;
	text-align: center;
	font-family: 'Gilroy Medium';
	font-size: 3vh;
}
</style>