<template>
	<div class="row" :class="{ open : down }" @click="row()">
		<div class="grid">
			<p class="text">{{ post.title }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.body }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
		</div>
		<div class="grid_extra" v-if="down">
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
			<p class="text">{{ post.id }}</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'questionnaireRow',
	props: {
		post: { type: Object, required: true },
	},
	data() {
		return {
			down: false,
		}
	},
	methods: {
		row: function() {
			if (this.down == false) {
				return this.down = true
			}
			else {
				return this.down = false
			}
		}
	}
}
</script>

<style scoped>
.row {
	margin: 2vh;
	background-color: #EFFFFB;
	border-radius: 1.6vh;
	border: 0.1vh solid #10946a00;
	height: 4vh;
	transition: all 0.15s ease-in-out;
}
.open {
	margin: 2vh;
	background-color: #EFFFFB;
	border: 0.1vh solid #10946A;
	border-radius: 1.6vh;
	height: 8vh;
}
.grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	text-align: center;
}
.grid_extra {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	text-align: center;
}
.text {
	margin: 1vh;
	color: #10946A;
}
</style>