<template>
	<forms/>
</template>

<script>
/* eslint-disable */
import forms from '@/components/Form/forms.vue'
export default {
	name: 'Form',
	components: { forms },
}
</script>

<style scoped>

</style>