<template>
	<questionnaires/>
</template>

<script>
/* eslint-disable */
import questionnaires from '@/components/Questionnaire/questionnaires.vue'
export default {
	name: 'Questionnaire',
	components: { questionnaires },
}
</script>

<style scoped>

</style>