<template>
	<RouterView/>
</template>

<script>
export default {
	name: 'App',
}
</script>

<style>
::-webkit-scrollbar {
	width: 0.5vw;
}
 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.5vh rgba(0, 0, 0, 0.3);
	border-radius: 1.6vh;
}
 
::-webkit-scrollbar-thumb {
	background-color: #10946A;
	border-radius: 1.6vh;
}
</style>
