* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url('../src/assets/fonts/gilroy-regular.ttf');
}

@font-face {
	font-family: 'Gilroy Medium';
	src: url('../src/assets/fonts/gilroy-medium.ttf');
}

body {
	font-family: 'Gilroy Regular';
	width: 100vw;
	height: 100vh;
	background-color: #EFFFFB;
	overflow-x: hidden;
}